root = true

[**/BoardTests.cs]
resharper_use_collection_expression_highlighting=none

[**/NextGenerationTests.cs]
resharper_use_collection_expression_highlighting=none

[*.cs]
resharper_unused_method_return_value_local_highlighting=none
resharper_class_never_instantiated_global_highlighting=none
resharper_condition_is_always_true_or_false_according_to_nullable_api_contract_highlighting=none
resharper_unused_auto_property_accessor_local_highlighting=none